openapi: "3.0.1"

info:
  title: "${name_prefix}-api"
  version: "1.0.0"

paths:
  /health:
    get:
      summary: "Health Check Endpoint (MOCK)"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        type: "mock"
        passthroughBehavior: "when_no_match"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        responses:
          default:
            statusCode: "200"
            responseTemplates:
              application/json: |
                {
                  "status": "ok",
                  "message": "The API Gateway is reachable!"
                }
  /users/profile:
    post:
      summary: Create user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfile"
      responses:
        "201":
          description: Profile created
        "400":
          description: Validation error
        "409":
          description: Profile already exists
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${create_profile_lambda_invoke_arn}
    get:
      summary: Get user profile
      responses:
        "200":
          description: Profile found
        "404":
          description: Profile not found
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${get_profile_lambda_invoke_arn}
components:
  schemas:
    Empty:
      title: "Empty Schema"
      type: "object"
    UserProfile:
      type: object
      required: [name, email, nativeLanguage, targetLanguage, gender, location]
      properties:
        name:
          type: string
        email:
          type: string
        nativeLanguage:
          type: string
        targetLanguage:
          type: string
        gender:
          type: string
        location:
          type: string