openapi: "3.0.1"

info:
  title: "${name_prefix}-api"
  version: "1.0.0"

security:
  - cognito_authorizer: []

paths:
  /health:
    get:
      summary: "Health Check Endpoint (MOCK)"
      security: [] # El health check debe ser público
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        type: "mock"
        passthroughBehavior: "when_no_match"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        responses:
          default:
            statusCode: "200"
            responseTemplates:
              application/json: |
                {
                  "status": "ok",
                  "message": "The API Gateway is reachable!"
                }

  /users/profile:
    post:
      summary: Create user profile
      security:
        - cognito_authorizer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfile"
      responses:
        "201":
          description: Profile created
        "400":
          description: Validation error
        "409":
          description: Profile already exists
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${create_profile_lambda_invoke_arn}
    get:
      summary: Get user profile
      security:
        - cognito_authorizer: []
      responses:
        "200":
          description: Profile found
        "404":
          description: Profile not found
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${get_profile_lambda_invoke_arn}
    options:
      summary: CORS support
      security: []
      responses:
        "200":
          description: Default response for CORS method
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode": 200
            }
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS,POST,PUT,DELETE'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            responseTemplates:
              application/json: "{}"

components:
  securitySchemes:
    cognito_authorizer:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"
      x-amazon-apigateway-authorizer:
        type: "cognito_user_pools"
        providerARNs:
          - "${cognito_user_pool_arn}"
  
  schemas:
    Empty:
      title: "Empty Schema"
      type: "object"
    UserProfile:
      type: object
      required: [name, email, nativeLanguage, targetLanguage, gender, location]
      properties:
        name:
          type: string
        email:
          type: string
        nativeLanguage:
          type: string
        targetLanguage:
          type: string
        gender:
          type: string
        location:
          type: string