aws_region  = "us-east-1"
aws_profile = "your-sso-profile"

project_name = "meet-one"
environment  = "bootstrap"

state_lock_table_name = "meet-one-terraform-locks"

cloudflare_api_token= "your cloudflare_api_token with Calls edit access"